
@font-face {
    font-family: gilyroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}


.notes-h1{
    text-align: center;
    font-weight: 900;
    
}



.notes-continer{
    height: 100vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    
}

.fist-notes{
    height: 40vh;
    width: 200px;
    background-color: rgb(202, 202, 202);
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    
    align-items: center;
    
}
.fist-notes img {
    height: 100px;
    width: 100px;
    filter: drop-shadow(10px 10px 20px rgb(75, 154, 191));
    
    object-fit: fill;
}
.lang-name{
    
    font-size: 1.5em; 
     font-family: "Roboto", sans-serif;


}
.btn{
    height: 45px;
    width: 150px;
    cursor: pointer;
    border: none;
    
    border-radius: 10px;
    color: whitesmoke;
    background-color:#5f95f8 ;
    font-size: 1em;
}