#vid-conteiner{
    width: 100vw;
    height: 50vh;
     white-space: nowrap;
     overflow-x: scroll;
     overflow-y: hidden;
     position: absolute;
     top: 50%;
     transform: translate(0%,-50%);
}


#vid-conteiner::-webkit-scrollbar{
    display: none;
}

.vid-box{
    height: 40vh;
    width: 200px;
    background-color: #cccdce;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 9px ;
    margin-left: 30px;
    display: inline-block;
    box-shadow: 10px 10px 10px #9b9999;
    
}
.img-div{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.img-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(10px 10px 20px rgb(75, 154, 191));

}

.vid-box p{
    text-align: center;
    white-space: wrap;
    font-size: 1.2em;
}

.btn{
    display: block;
    padding: 1.1vh 20px;
    background-color: #5f95f8;
    width: 70%;
    margin:0 auto;
    text-align: center;
    color: #f5f5f5;
    font-size: 1.2em; 
    letter-spacing: 4px;  
    text-decoration: none;
    font-weight: 700; 
    border-radius: 4px;
    margin-top: 3vh;
 }

 #right h2{
    text-align: center;
 }

 #resources{
    height: 15vh;
    width: 100vw;
    position: absolute;
    bottom: 10%;
    left: 0;
 }

 #resources a{
    font-size: 30px;
    text-decoration: none;
    margin-top: 2vh;
    color: #5f95f8;

 }
 #resources h2{
    color: gray ;
 }

 #res-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    gap: 20px;
 }